<%- include('../partials/header') %>

<h2>Enter a New Movie</h2>
<form action="/books" method="GET">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Author:
    <input type="text" name="author">
  </label><br>
  <label>Published
    <input type="number" name="published"
    </select>
  </label><br>
  <label>Genre
    <input type="text" name="genre" 
    </select>
  </label><br>
  <label>Rating
  <input type="text" name="[ratingSchema]" 
    </select>
  </label><br>
  <label>Pages
    <input type="number" name="pages" 
      </select>
    </label><br>
  <button type="submit">Add Book</button>
</form>

<%- include('../partials/footer') %>