<%- include('./partials/header') %>

<div id="main"><h1>The Book Nook</h1></div>
<div id="collection"><h2>
<a href="/books" <%- title ='books'%>>Check Out Our Complete Collection</a>
</h2></div>

<%- include('./partials/footer') %>
 