* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

html, body {
 
  height: 100%;
  width: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/tisbV2F.jpeg');

}

a {
  color: #00B7FF;
}

#main > h1{
  color: white;
  font-size: 60px;
}

h2 {
  color: white;
  margin-bottom: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  font-size:x-large;
}


table>tbody{
  background-color: grey;
  font-display: white;
  font-size: large;
}
th {
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

#collection {
  color: white;
  margin-top: 50px;
  margin: center;
 }

 h3 {
  font-size: large;
  background: yellow;
  color: white;
 }

 div {
  color: white;
 }
h5 {
  font-size: x-large;
  color:chartreuse;
}

label{ 
  font-size: large;
  color:aquamarine ;
}

#details>tbody>tr {
  display: flex;
  flex-direction: column;
}

/* #details>tbody>td {
  display: flex;
  justify-content: space-around;
} */

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  background-color:rgb(102, 151, 155);
  width: 100%;
  height: 30px;
}
td {
  white-space: nowrap;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}
  
#add-review-form {
  height: 80px;
  display: flex;
  justify-content:flex-start;
}
#add-review-form input[type="submit"] {
  height: 30px;
}

#pic {
  width: 40px;
}
#content {
  width: 265px;
  height: 50px;
}

td>#reviewtext {
  width: 150px;
}

#comments {
  height:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#comments > tbody {
  border: 2px solid white;
}

#update input[type="submit"] {
  display: flex;
  color: green;
  margin-top: 10px;
  height: 40px; 
  font-size: medium;
}


label {
  font-size: x-large;
 
}

h1 {
  color: white;
}
#edit textarea {
  height: 150px;
  width: 550px;
  font-size: larger;
}
#review {
 color: red;
 margin-top: 50px;

}
select {
  height: 30px;
  background-color: lightgray;
}

td.review-user {
  width: 30%;
}