* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

html, body {
 
  height: 100%;
  width: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/tisbV2F.jpeg');

}

a {
  color: #00B7FF;
}

h1 {
  color: white;
}

nav {
  margin-top: 100px;
  font-size:x-large;
}


table>tbody{
  background-color: red;
  font-size: large;
}
th {
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

h2 {
  font-size: xx-large;
 }

 h3 {
  color: white;
 }